<h1>Contact us</h1>
<%= form_for @contact do |form|%>
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %>
  <%= form.label :email, 'email' %>
  <%= form.text_field :email %>
  <%= form.label :comment %>
  <%= form.text_area :comment %>
  <%= form.submit 'Send' %>
<% end %>
